body{
    max-resolution: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #080718;
    color: white;
    justify-content: center;
    align-items: center;
}
.header-text{
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 50px;
}
.row{
    display: flex;
 
}
.fc-red{
    color: #e21717;

}
.fc-yellow{
    color: #f7cd2e;
    
}
.square{
    min-width: 90px;
    min-height: 90px;
    font-size: 60px;
    text-align: center;
    color: #1cdbf5;
    font-weight: bold;
    padding: 5px;
}